.artist-show
  .image= image_tag @artist.image.url(:large)
  .name= @artist.name
  .desc= @artist.description

%h2 Albums
.artist-albums
  - unless @albums.empty?
    .album
      - @albums.each do |album|
        .image= link_to(image_tag(album.image.url(:medium)), album.bandcamp_link)
        .name= album.name
  - else
    %p None yet, but coming soon!
