%h1 Thundercloud Records
%ul.nav
  %li= link_to "Artists", artists_path, class: (is_artist_page?(params) ? "selected" : nil)
  %li= link_to "About", about_path, class: (is_about_page?(params) ? "selected" : nil)
