<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td><div><%= f.label :email %></td>
        <td><%= f.email_field :email, :autofocus => true %></div></td>
    </tr>

    <tr>
      <td><div><%= f.label :password %></td>
      <td><%= f.password_field :password %></div></td>
    </tr>
    <tr>

  </table>

  <% if devise_mapping.rememberable? -%>
    <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <div><%= f.submit "Sign in", class: "sign-in-button" %></div>
<% end %>

<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
