h1
  font-family: 'Futurist'
  text-align: center

.nav
  list-style-type: none
  margin: 0
  padding: 0
  border: 1px solid #ccc
  border-width: 1px 0
  text-align: center

.nav li
  display: inline

.selected
  background-color: #dddddd

.nav a
  font-family: 'GeosansLight'
  font-size: 24px
  display: inline-block
  padding: 10px
  text-decoration: none
  width: 200px

  &:hover
    background-color: #d3d3d3
