.cart
  font-family: "Lato"
  text-align: right
  width: 100px
  margin: 0 auto
  padding-top: 10px

  .cart-icon
    font-size: 20px
    text-align: right
    margin-right: 10px
    text-decoration: none
    color: #000000

  .cart-total
    font-size: 20px
    float: right
    text-decoration: none !important
    color: #000000 !important

.log-out
  font-family: 'Lato'
  float: right

.log-in
  font-family: 'Lato'
  display: block
  float: right

.product-wrapper
  padding-top: 20px
  margin: 0 auto
  width: 90%

.product
  font-family: "Lato"
  float: left
  display: block
  width: 33%
  margin-bottom: 20px
  text-align: center

  .product-image img
    border: 1px solid black

  .product-name
    display: inline-block
    margin-top: 10px

  .product-price
    display: inline-block
    margin-top: 10px

    &.red
      color: red

  .add-cart
    text-align: center
    margin-top: 10px
    padding-bottom: 20px
