h2
  font-family: 'Futurist'
  text-align: center
  font-weight: normal

.new_user
  text-align: center
  display: block

  table
    display: block
    text-align: center
    width: 300px
    margin: 0 auto
    padding: 0 auto

  label
    font-family: 'Lato'
    margin: 0 auto
    padding: 0 auto
    text-align: center

  input
    font-family: 'Lato'
    text-align: center
    width: 150px

  #user_remember_me
    width: inherit

  .sign-in-button
    width: 75px
    font-family: 'Lato'
    font-size: 14px

.devise-links
  text-align: center

  .button_to
    text-align: center

  input
    font-family: 'Lato'
    text-align: center
    font-size: 14px
