.cart
  = link_to(fa_icon("shopping-cart", class: "cart-icon"), cart_path(current_cart))
  = link_to "(#{price_in_dollars(current_cart.order_total)})", cart_path(current_cart), class: "cart-total"

.product-wrapper
  - @products.each do |product|
    .product
      .product-image= link_to(image_tag(product.image.url(:medium)), product_path(product))
      .product-name= link_to product.name, product_path(product)
      .product-price{class: product.upcoming ? "red" : ""}= product.upcoming ? "Coming Soon!" : price_in_dollars(product.price)
      .add-cart= link_to "Add to Cart", line_items_path(product_id: product), method: :post if !product.upcoming?
