<!DOCTYPE html>
<html>
<head>
  <title>Thundercloud Records</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/shared/header' %>
<%- if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<%- if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>
<%= yield %>

</body>
</html>
